body{
    background-color: black;
}

h1, h3, h4, p{ /*Texto e Paragrafo*/
    color:white;
    font-family: 'Franklin Gothic';
}

a{
    color: blue;
    margin-left: 5px; 
    margin-right: 5px;
    text-decoration: none; /*Tilha a linha de de link de baixo*/
}

.card{
    border-radius: 10px;
    margin-top: 1%;
    width: 25%;
    height: 40%;
    border: 2px solid #fff;
    
}

.card h4{
    margin-left: 5%;
    text-align: left;
    color:white;
}

ul, ol{ /*Lista*/
    color:white;
    text-align: left;
}

table, tr, th,td{ /*Tabela*/
    border:2px solid black;
    border-radius: 15px;
    border-collapse: collapse;
    background-color: rgba(231, 230, 230, 0.678) ;
    text-align: center;
    color: black;
    margin-top: 10;
   
}

#image1 img{
    max-width: 200px;
    width: 100%;
    height: 100%;
}

img{
    border-radius: 10%;
    width: 50%;
    height:50%;
    margin: 10px 0; 
}

img:hover{ /*Animação para as imagens*/
    transform: translateY(-1%); /*Como a animação vai mover*/
    transition: 600ms; /*Tempo de animação*/
    box-shadow: 0px 9px 20px 2px rgb(51, 16, 83); /*Aplicar a sombra na animação*/
}

img:not(:hover){ /*Quando o mouse sair*/
    transition: 600ms;
}
/*box-shadow adiciona sombra com animação na imagem ou na div. 0px - Sombra na forma horizontal, 9px - forma vertical, 20px - Quantidade da sombra/blur
2px - Quanto a sombra vai se espalhar.