

body {
	background:linear-gradient(black,black,black,rgb(35, 47, 62));
}

.navbar > .container-fluid > .navbar-brand {
  color: white;
}

.collapse > .navbar-nav > li:first-child > a {
  color: white;
}

.navbar .navbar-nav > li > a {
  color: white;
}
.col{
	position: relative;
	padding: 0% 20x;
	height: 40px;
	background-color: rgb(35, 47, 62);
	color: white;
	text-align: center;
	line-height: 40px;

}

.carousel-inner img{
	width: auto;       
	height: auto;      
	position: relative; 
}

.carousel-item {
	align-items: center;
	justify-content: center;
}

#div-container-center{
  display: flex; 
  justify-content: center; 
  flex-wrap: wrap; 
  margin-bottom: 30px;
  gap:30px;
  padding: 10% 0%;
}

.card img{
	padding: 5% 5%;
	border-radius: 10%;
	height: 150px;
}
.card-grid{
 	display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.card-itens{
	text-align: center;
}


footer{
  background-color: rgb(35, 47, 62);
}